body{
    background-color: #FAFAFA;
    font-family: sans-serif;
    margin: 0;
}

header{
    width: 100vw;
    background-color: white;
    color: #767676;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.425);
    margin: 0;
}

header h1{
    margin: 10px;
}

.container{
    display: flex;
    justify-content: start;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

button{
    border-radius: 5px;
    background-color: #4285F4;
    width: auto;
    padding: 5px 10px;
    height: 5vh;
    border: none;
    color: #EFF4FE;
}

.text{
    border: 0;
    padding: 10px 5vw;
    width: 90vw;
    min-height: 10vh;
    height: auto;
    margin: 0;
    font-size: 16pt;
    text-decoration: none;
}

.read{
    min-height: 13vh;
    height: auto;
    width: 100vw;
    background-color: #1A73E8;
    align-items: flex-start;
    box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.44);
}

#result{
    padding: 10px 5vw;
    font-size: 20pt;
}

.clear{
    position: relative;
    display: inline-block;
    margin: 10px;
}

.clear .clearText {
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -150%;
    left: 50%;
    margin-left: -55px;
    opacity: 0;
    transition: opacity 0.3s;
}

.clear .clearText::after {
    content: "";
    position: absolute;
    top: -40%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.clear:hover .clearText {
    visibility: visible;
    opacity: 1;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.selector{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 100vw;
    color: #679DF6;
    height: 9vh;
    background-color: white;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.425);
}

.morseMode{
    font-size: 20pt;
}

.box{
    padding: 10px;
    width: 30vw;
    justify-content: center;
    align-items: center;
    display: flex;
    letter-spacing: 1px;
}

.arrows{
	width:10px;
	height:4px;
	box-sizing:content-box;
	position:relative;
	background:white;
	border-bottom:2px solid rgba(0, 0, 0, 0.705);
    border-top:2px solid rgba(0, 0, 0, 0.705);
}

.arrows::after{
	content:"";
	box-sizing:content-box;
	position:absolute;
	border-left:3.5px solid rgba(0, 0, 0, 0.705);
	border-top:3px solid transparent;
	border-bottom:3px solid transparent;
	left:100%;
	top:-100%;
}

.arrows::before{
	content:"";
	box-sizing:content-box;
	position:absolute;
	border-right:3.5px solid rgba(0, 0, 0, 0.705);
	border-top:3px solid transparent;
	border-bottom:3px solid transparent;
	right:100%;
	bottom:-100%;
}