html, body{
    background-color: #4285f4;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}

header{
    width: 100vw;
    background-color: #4285f4;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.425);
    margin: 0;
    height: 10vh;
}

header h1{
    margin: 10px;
}

.container{
    display: flex;
    justify-content: start;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.inputs{
    justify-content: space-between;
    align-items: center;
    display: flex;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    width: 100vw;
    background-color: white;
}

button{
    border-radius: 5px;
    background-color: #4285F4;
    width: auto;
    padding: 5px 10px;
    height: 5vh;
    border: none;
    color: #EFF4FE;
}

.text{
    width: 100%;
    border: 0;
    padding: 10px 5vw;
    min-height: 13vh;
    height: auto;
    margin: 0;
    font-size: 19.5pt;
    text-decoration: none;
}

.read{
    flex-direction: row;
    min-height: 16vh;
    height: auto;
    justify-content: space-between;
    width: 100vw;
    background-color: #1A73E8;
    align-items: center;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    display: none;
}

#cleanAndFav{
    position: relative;
    right: 3%;
    font-size: 22pt;
}

.clean{
    color:rgb(153, 153, 153);
    display: none;
}

.favorites {
    color: yellow;
}

#result{
    font-weight: bold;
    letter-spacing: 0.5px;
    align-self: flex-start;
    padding: 10px 5vw;
    font-size: 20pt;
}

section{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    overflow: hidden;
    height: 80vh;
    background-color: #F5F5F5;
}

.selector{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 100vw;
    color: #679DF6;
    height: 9vh;
    background-color: white;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.425);
}

.morseMode{
    font-size: 20pt;
}

.box{
    padding: 10px;
    width: 30vw;
    justify-content: center;
    align-items: center;
    display: flex;
    letter-spacing: 1px;
}

.rotate{
    transform: rotate(180deg);
}

.arrows{
    transition: 0.5s cubic-bezier(.63,-0.51,0,-0.13);
	width:10px;
	height:4px;
	box-sizing:content-box;
	position:relative;
	background:white;
	border-bottom:2px solid rgba(0, 0, 0, 0.705);
    border-top:2px solid rgba(0, 0, 0, 0.705);
}

.arrows::after{
	content:"";
	box-sizing:content-box;
	position:absolute;
	border-left:3.5px solid rgba(0, 0, 0, 0.705);
	border-top:3px solid transparent;
	border-bottom:3px solid transparent;
	left:100%;
	top:-100%;
}

.arrows::before{
	content:"";
	box-sizing:content-box;
	position:absolute;
	border-right:3.5px solid rgba(0, 0, 0, 0.705);
	border-top:3px solid transparent;
	border-bottom:3px solid transparent;
	right:100%;
	bottom:-100%;
}

aside{
    width: 300vw;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.star{
    justify-content: flex-start;
    width: 100vw;
    transform: translateX(-100%);
    transition: 0.25s;
    z-index: 2;
    color: gray;
}

h2{
    margin: 10px;
    font-weight: normal;
}

.title{
    width: 100%;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.425);
    justify-content: space-between;
    background-color: white;
    align-items: center;
    display: flex;
    height: 10vh;
}

.unstarAll{
    background-color: white;
    color: #595959;
    font-size: 10pt;
    font-weight: bolder;
}

.fav{
    width: 100%;
    max-height: 70vh;
    height: 70vh;
    overflow: scroll;
    justify-content: flex-start;
}

.fav>div{
    min-height: 10vh;
    width: 85%;
    padding: 5% 5% 0;
    background-color: white;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.425);
    margin: 2.5px 5px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.fav div:first-child{
    margin: 5px 5px 2.5px 5px;
}

.fav div:last-child{
    margin: 2.5px 5px 5px;
}

.fav div div{
    margin: 2.5px 10px 0 0;
}

.fav div i {
    color: rgb(240, 240, 0);
    position: relative;
    top: -7vh;
    left: 95%;
    font-size: 17.5pt;
}

.fav div div:first-child{
    color: black;
    text-transform: lowercase;
    font-weight: 600;
}

.fav div div:nth-child(2){
    font-size: 15pt;
    font-weight: bolder;

}

#alpha{
    height: 11.5vh;
    justify-content: center;
    font-size: 16pt;
}

.dictionary{
    width: 100vw;
    transform: translateX(100%);
    transition: 0.25s;
    background-color:#F5F5F5 ;
    z-index: 2;
    color: gray;
    height: 80vh;
}

.appearStar{
    transform: translateX(100%);
    transition: linear 0.25s;
}

.appearSheet{
    transform: translateX(-100%);
    transition: linear 0.25s;
}

.btnStar, .btnHome, .btnSheet{
    border-radius: 100%;
    width: 10vh;
    height: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #595959;
    font-size: 9pt;
    transition: 0.25s ease-out;
    text-decoration: none;
}

.focused{
    color: #4285f4;
    font-size: 10.5pt;
}

footer{
    /* position: absolute;
    bottom: 0; */
    width: 100vw;
    height: 10vh;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    display: flex;
    z-index: 4;
}

footer div{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h4{
    margin: 0;
}

.superContainer{
	width: 100%;
	height: 100%;
	justify-content:space-evenly;
	display: flex;
	align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
    color: rgb(19, 19, 19);
}

.card{
    border: 10px;
    width: 25.1vw;
    height: 26vw;
    margin: 10px 0px;
    border-radius: 10px;
}

.front, .back{
    box-shadow: 5px 5px 20px -8px rgba(0,0,0,0.51);
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: relative;
    transition: transform .3s linear;
	justify-content:center;
	display:flex;
    align-items:center;
}

.front{
    font-size:20vw;
    transform: perspective(600px) rotateY(0deg);
    -webkit-transform: perspective(600px) rotateY(0deg);
}

.back{
    font-size: 14vw;
    transform: perspective(600px) rotateY(180deg) translateY(-100%);
    -webkit-transform: perspective(600px) rotateY(180deg) translateY(-100%);
}

.frontFlip{
    -webkit-transform: perspective(600px) rotateY(-180deg);
}

.backFlip{
    -webkit-transform: perspective(600px) rotateY(0deg) translateY(-100%);
}

/* .card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
    -webkit-transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back{
    transform: perspective(600px) rotateY(0deg) translateY(-100%);
    -webkit-transform: perspective(600px) rotateY(0deg) translateY(-100%);
} */